<!DOCTYPE html>
<html>
  <head>
    <title>
      {{pageTitle}}
    </title>
  </head>
  <body>

    <h1>
      Home Page
    </h1>
    <p>
      This is the Home Page.
      {{content}}
    </p>
  {{> footer}}
  </body>
</html>
