<!DOCTYPE html>
<html>
  <head>
    <title>
      Okay
    </title>
  </head>
  <body>

    <h1>
      Maintenance Page
    </h1>
    <p>
      This site is being updated.
    </p>
  {{> footer}}
  </body>
</html>
