<!DOCTYPE html>
<html>
  <head>
    <title>
      {{pageTitle}}
    </title>
  </head>
  <body>

    <h1>
      Project Page
    </h1>
    <p>
      This is the Project Page.
      {{content}}
    </p>
    <h1> Hello  </h1>
    <footer>
      Trademark Year : {{currentYear}}
      Sample Text
    </footer>
  </body>
</html>
